doctype html
html(lang="en", ng-app="EventorioEvent")
  head
    title
      | #{event.name || "New event"}@Eventorio
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/material-fullpalette.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/ripples.min.css")
    link(rel="stylesheet", href="/lib/bootstrap-material-design/dist/css/roboto.min.css")
    link(rel="stylesheet", href="/lib/angular-growl-v2/build/angular-growl.min.css")
    link(rel="stylesheet", href="/lib/angular-xeditable/dist/css/xeditable.css")
    link(rel="stylesheet", href="/lib/textAngular/src/textAngular.css")
    link(rel="stylesheet", href="/lib/components-font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/lib/clockpicker/dist/bootstrap-clockpicker.min.css")
    link(rel="stylesheet", href="/lib/angular-cropme/cropme.css")
    link(rel="stylesheet", href="/local_lib/responsive-calendar/css/responsive-calendar.css")

    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/event.css")

    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/underscore/underscore-min.js")
    script(src="/lib/async/lib/async.js")
    script(src="/lib/moment/min/moment.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    script(src="/lib/bootstrap-material-design/dist/js/material.min.js")
    script(src="/lib/clockpicker/dist/bootstrap-clockpicker.min.js")
    script(src="/local_lib/responsive-calendar/js/responsive-calendar.min.js")

    script(src="/lib/angular/angular.min.js")
    script(src="/lib/angular-resource/angular-resource.min.js")
    script(src="/lib/angular-growl-v2/build/angular-growl.min.js")
    script(src="/lib/angular-xeditable/dist/js/xeditable.min.js")
    script(src="/lib/textAngular/dist/textAngular-sanitize.min.js")
    script(src="/lib/textAngular/dist/textAngular-rangy.min.js")
    script(src="/lib/textAngular/dist/textAngular.min.js")
    script(src="/lib/angular-touch/angular-touch.min.js")
    script(src="/lib/angular-superswipe/superswipe.js")
    script(src="/lib/angular-cropme/cropme.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places")

    script(src="/cdn/js/event.client.js")
    script(src="/cdn/js/shared/routes.shared.js")
    script(src="/cdn/js/shared/validator.shared.js")
    script(src="/cdn/js/filters.client.js")

    script(src="/cdn/js/services/global.client.service.js")
    script(src="/cdn/js/services/user.client.service.js")
    script(src="/cdn/js/services/event.client.service.js")
    script(src="/cdn/js/services/pictures.client.service.js")
    script(src="/cdn/js/services/comments.client.service.js")

    script(src="/cdn/js/controllers/header.client.controller.js")
    script(src="/cdn/js/controllers/event.client.controller.js")

    script(src="/cdn/js/directives/picture.directive.js")
    script(src="/cdn/js/directives/event.page.directive.js")
    script(src="/cdn/js/directives/clockpicker.directive.js")
    script(src="/cdn/js/directives/calendar.directive.js")
    script(src="/cdn/js/directives/event.line.directive.js")
    script(src="/cdn/js/directives/google.location.search.directive.js")
    script(src="/cdn/js/directives/user.line.directive.js")
  body
    include ../layouts/header.server.jade
    div(growl)
    event-page#event-page(ng-controller="EventController", ng-init="initEvent(#{JSON.stringify(event)})")
      .row-fluid#event-header-picture
        .row-fluid
          picture.col-lg-12.col-md-12.col-sm-12.col-xs-12(item="event"
                  item-type="event"
                  type="header")
        .row-fluid(ng-if="editmode")
          .col-lg-4.col-lg-offset-5.col-md-6.col-md-offset-5.col-sm-6.col-sm-offset-5.col-xs-12
            .well.row#header-upload-well
              form.form-inline
                .form-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .row
                    label.col-lg-4.col-md-4.col-sm-4.col-xs-12.control-label Select image:
                    .col-lg-5.col-md-5.col-sm-5.col-xs-12
                      .form-control-wrapper.fileinput
                        input.form-control.empty(type="text" readonly)
                        input#header-img-upload(type="file")
                        .floating-label Browse
                        span.material-input
                  .row(ng-if="headerUploadError")
                    .alert.alert-warning {{headerUploadError}}
                  .row(ng-show="headerIsUploading")
                    .progress
                      .progress-bar.progress-bar-material-light-green
      .row-fluid
        #event-details.col-lg-3.col-lg-offset-1.col-md-3.col-sm-4.col-xs-12
          .row-fluid
            .well.col-lg-12.col-md-12.col-sm-12.col-xs-12
              .row-fluid
                picture.event-avatar-picture.col-lg-12.col-md-12.col-sm-12.col-xs-12(item="event"
                  item-type="event"
                  type="avatar")
                  #edit-avatar-btn.pull-right.well.clickable(ng-if="editmode"
                    data-toggle="modal"
                    data-target="#event-avatar-modal")
                    span.mdi-image-edit
              .row-fluid.visible-xs
                .event-name.col-xs-12.text-center
                  h1(ng-if="!editmode") {{event.name}}
                  h1(ng-if="editmode"
                      blur="submit"
                      buttons="no"
                      editable-text="event.name"
                      e-required
                      e-placeholder="Enter event name") {{event.name || "No name"}}
              .row-fluid
                .text-center.event-organizator.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  span Organized by
                    a.btn.btn-default(href="/users/#{event.organizator.username}") #{event.organizator.username}
              .row-fluid
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .text-center.event-datetime
                    p {{event.date.format('DD MMM YYYY, HH:mm')}}
                      a.clickable(data-toggle="modal" data-target="#event-date-modal", ng-if="editmode")
                        span(ng-if="event.date")  Modify date
                        span(ng-if="!event.date") Choose date
              .row-fluid
                .text-center.event-location.col-lg-12.col-md-12.col-sm-12.col-xs-12
                  div(ng-if="editmode")
                    p {{event.venue.name}}
                      a.clickable(data-toggle="modal" data-target="#event-location-modal")
                        span(ng-if="event.venue.name")  Modify venue
                        span(ng-if="!event.venue.name") Choose venue
                  div(ng-if="!editmode")
                    a.clickable(data-toggle="modal" data-target="#event-location-modal") {{event.venue.name}}
              .row-fluid(ng-if="!editmode && event.canBeAttended && states.participants")
                .col-lg-12.text-center
                  .btn.btn-raised.btn-material-lime(ng-show="!event.isAttending" ng-click="attend()") I will go
                  .btn.btn-flat.btn-xs(ng-show="event.isAttending" ng-click="quit()") I will not go
          .row-fluid
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                .pull-left
                  p.clickable(ng-if="editmode"
                              editable-select="event.permissions.visibility"
                              e-ng-options="v.value as v.text for v in visibilities"
                              buttons="no"
                              blur="submit") {{showVisibility()}}
                  p(ng-if="!editmode && isEditable") {{showVisibility()}}
                .pull-right
                  p.clickable(ng-if="editmode"
                              editable-select="event.permissions.attendance"
                              e-ng-options="a.value as a.text for a in attendancies"
                              buttons="no"
                              blur="submit") {{showAttendance()}}
                  p(ng-if="!editmode") {{showAttendance()}}
          .row-fluid(ng-if="editmode")
            .col-lg-12.text-center
              .btn.btn-material-light-green.btn-raised.col-lg-5(ng-click="save()") Save
              .btn.btn-default.btn-raised.col-lg-5(ng-click="cancel()") Cancel
          .row-fluid(ng-if="!editmode && isEditable")
            .row
              .col-lg-12.text-center
                .btn.btn-raised.btn-material-light-green(data-toggle="modal" data-target="#event-invite-modal")
                  span.mdi-social-person-add
                  span  Invite
            .row
              .col-lg-12.text-center
                .btn.btn-default(ng-click="enterEditMode()")
                  span.mdi-editor-mode-edit
                  span  Edit
        #event-content.col-lg-8.col-md-9.col-sm-8.col-xs-6.hidden-xs
          .row-fluid
            .event-name.well.col-lg-12.col-md-12.col-sm-12
              h1(ng-if="!editmode") {{event.name}}
              h1(ng-if="editmode"
                  blur="submit"
                  buttons="no"
                  editable-text="event.name"
                  e-required
                  e-placeholder="Enter event name") {{event.name || "No name"}}
          .row-fluid
            .event-description.col-lg-12.col-md-12.col-sm-12
              p(ng-if="!editmode" ng-bind-html="event.desc")
              .well(ng-if="editmode")
                text-angular(ng-model="event.desc" ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'], \
                                                                ['bold','italics', 'underline', 'strikeThrough', 'ul', 'ol'], \
                                                                ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'], \
                                                                ['wordcount', 'charcount']]")
      #event-date-modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.btn.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden='true') ×
              h2.hidden-xs
                span(ng-if="event.name") Choose "{{event.name}}"'s date and time
                span(ng-if="!event.name") Choose date and time
              h4.visible-xs
                span(ng-if="event.name") Choose "{{event.name}}"'s date and time
                span(ng-if="!event.name") Choose date
            .modal-body
              .row
                clockpicker.col-lg-6.col-lg-offset-3(event="event")
              .row
                calendar.col-lg-8.col-lg-offset-2
                  .row-fluid
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      a.prevMonth.pull-left(ng-click="prevMonth()")
                        h1.glyphicon.glyphicon-circle-arrow-left
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                      h1.text-center {{month.format('MMMM YYYY')}}
                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                      a.nextMonth.pull-right(ng-click="nextMonth()")
                        h1.glyphicon.glyphicon-circle-arrow-right
                  .row-fluid
                    .responsive-calendar.col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .day-headers
                        .day.header Mon
                        .day.header Tue
                        .day.header Wed
                        .day.header Thu
                        .day.header Fri
                        .day.header Sat
                        .day.header Sun
                      .days(data-group='days')
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-if="event.date")
                  .text-center(ng-if="calendar.events.length === 0")
                    h3(style="color: grey") Nothing planned for {{event.date.format("DD MMMM YYYY")}}.

                    div(ng-if="calendat.events.length !== 0")
                      .row(ng-repeat="event in events", event-line, event="event")
            .modal-footer
              button.btn.btn-material-light-green(type="button" data-dismiss="modal") Done
      #event-location-modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.btn.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden='true') ×
              h2.hidden-xs
                span(ng-if="editmode && event.name") Choose "{{event.name}}"'s venue
                span(ng-if="editmode && !event.name") Choose venue
                span(ng-if="!editmode") "{{event.name}}"'s venue
              h4.visible-xs
                span(ng-if="editmode && event.name") Choose "{{event.name}}"'s venue
                span(ng-if="editmode && !event.name") Choose venue
                span(ng-if="!editmode") "{{event.name}}"'s venue
            .modal-body
              .row
                google-location-search.col-lg-10.col-lg-offset-1(ng-model="event.venue")
            .modal-footer
              button.btn.btn-material-light-green(type="button" data-dismiss="modal") Done
      #event-avatar-modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.btn.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden='true') ×
              h2.hidden-xs
                span(ng-if="editmode && event.name") Choose "{{event.name}}"'s logo
                span(ng-if="editmode && !event.name") Choose logo
                span(ng-if="!editmode") "{{event.name}}"'s logo
              h4.visible-xs
                span(ng-if="editmode && event.name") Choose "{{event.name}}"'s logo
                span(ng-if="editmode && !event.name") Choose logo
                span(ng-if="!editmode") "{{event.name}}"'s logo
            .modal-body
              .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  cropme(ng-if="global.screenSize !== 'xs'"
                          width="450"
                          height="450"
                          destination-width="450"
                          destination-height="450")
                  form.form-inline(ng-if="global.screenSize === 'xs'")
                    .form-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .row
                        label.col-lg-4.col-md-4.col-sm-4.col-xs-12.control-label Select image:
                        .col-lg-5.col-md-5.col-sm-5.col-xs-12
                          .form-control-wrapper.fileinput
                            input.form-control.empty(type="text" readonly)
                            input#avatar-img-upload(type="file")
                            .floating-label Browse
                            span.material-input
                      .row(ng-if="avatarUploadError")
                        .alert.alert-warning {{headerUploadError}}
                      .row(ng-show="avatarIsUploading")
                        .progress
                          .progress-bar.progress-bar-material-light-green
            .modal-footer
              button.btn(type="button" data-dismiss="modal" ng-click="cancelLogo()") Cancel
      #event-invite-modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.btn.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden='true') ×
              h2.hidden-xs Invite people to "{{event.name}}"
              h4.visible-xs Invite people to "{{event.name}}"
            .modal-body
              .row(ng-if="event.organizator.followers.length > 0")
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                  .row
                    label.col-lg-4.col-md-4.col-sm-5.col-xs-5 Among your followers:
                    .form-group.col-lg-8.col-md-8.col-sm-7.col-xs-7
                      input.form-control(type="text", placeholder="Search for followers", ng-model="invitations.search")
                  #followers-table.row
                    user-line.col-lg-4.col-md-4.col-sm-4.col-xs-6(ng-repeat="follower in followersToInvite"
                                                                  user="follower"
                                                                  ng-click="toggleInvitation(follower)")
                  .row
                    label.col-lg-4.col-md-4.col-sm-5.col-xs-5 By email:
                    .form-group.col-lg-8.col-md-8.col-sm-7.col-xs-7
                      input.form-control(type="text", placeholder="Email of person to invite", ng-model="invitations.emails")
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .btn.btn-xs.btn-material-deep-orange(ng-click="invite()" ng-disabled="!invitations.emails && invitations.followers.length === 0")
                        span.mdi-content-send
                        span  Invite
            .modal-footer
              button.btn.btn-material-light-green(type="button" data-dismiss="modal") Done