doctype html
html(lang="en", ng-app="EventorioApp")
  include ../layouts/head.server.jade
  include ../layouts/scripts.server.jade
  body(style="background-image: url(/img/bg_opacity.jpeg)")
    include ../layouts/header.server.jade
    .content-fluid(ng-controller="EventController", ng-init="edit=#{event.edit}", ng-show="show")
      .row-fluid
        img.img-responsive.img-event-header(src="/img/event_background.png")

        .event-header.col-lg-12.hidden-xs
          .col-lg-4.col-lg-offset-1
            .row
              .event-thumbnail.col-lg-12
                img.img-responsive.img-thumbnail.col-lg-8(src="/img/event_logo.jpg")
            .row
              .col-lg-12.col-lg-offset-1.event-organizator(ng-if="mode === 'Normal'")
                p(style="color: grey") Organized by&nbsp;&nbsp;
                  span(style="color: black")
                    a(href="/users/{{event.organizator.username}}", style="font-size: 2em")
                      | {{event.organizator.username}}
          .event-name.col-lg-7
            a.editable(ng-if="mode === 'Create'") Event name
            a.editable(ng-if="mode === 'Edit'") {{event.name}}
            span(ng-if="mode === 'Normal'") {{event.name}}

        .event-header.col-xs-12.visible-xs
          .row-fluid
            .col-xs-4.col-xs-offset-1.event-thumbnail
              img.img-responsive.img-thumbnail.col-lg-8(src="/img/event_logo.jpg")
            .event-name.col-xs-7
              a.editable(ng-if="mode === 'Create'") Event name
              a.editable(ng-if="mode === 'Edit'") {{event.name}}
              span(ng-if="mode === 'Normal'") {{event.name}}

          .row-fluid
            .col-xs-6.event-organizator(ng-if="mode === 'Normal'")
              p(style="color: grey") Organized by&nbsp;&nbsp;
                span(style="color: black")
                  a(href="/users/{{event.organizator.username}}")
                    | {{event.organizator.username}}
      .row-fluid
        .event-details.col-lg-4.col-lg-offset-1.col-xs-12.col-xs-offset-0
          ul
            li
              .event-date.col-lg-12.hidden-xs
                a.big-text.editable(ng-if="mode === 'Create'", data-toggle="modal", data-target="#dateAndTimePicker") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
                a.big-text.editable(ng-if="mode === 'Edit'", data-toggle="modal", data-target="#dateAndTimePicker") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
                p.big-text(ng-if="mode === 'Normal'") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
              .event-date.col-xs-6.visible-xs
                a.editable(ng-if="mode === 'Create' && !event.date", data-toggle="modal", data-target="#dateAndTimePicker") Date and Time
                a.editable(ng-if="mode === 'Create' && event.date", data-toggle="modal", data-target="#dateAndTimePicker") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
                a.editable(ng-if="mode === 'Edit'", data-toggle="modal", data-target="#dateAndTimePicker") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
                p(ng-if="mode === 'Normal'") {{event.date.format('Do MMM YYYY')}} {{event.date.format('HH:mm')}}
            li.visible-xs
              .event-description.col-xs-12
                textarea.eventDescriptionField.col-lg-10(ng-show="mode !== 'Normal'")
                p(ng-if="mode === 'Normal'", ng-bind-html="event.desc")
                i.glyphicon.glyphicon-pencil.pull-right(ng-if="mode === 'Normal' && global.me.id === event.organizator.id",
                                                      ng-click="setEditable(true, 'Edit')")
            li(style="color: grey")
              .row
                .event-visibility.col-lg-12.col-lg-offset-0.col-xs-11.col-xs-offset-1
                  a.editable(ng-if="mode === 'Create'") Event is visible to everyone
                  a.editable(ng-if="mode === 'Edit' && (event.permissions.visibility === 'public' || !event.permissions.visibility)")
                    | Event is visible to everyone
                  a.editable(ng-if="mode === 'Edit' && event.permissions.visibility === 'followers'")
                    | Event is visible only to your followers
                  a.editable(ng-if="mode === 'Edit' && event.permissions.visibility === 'invitations'")
                    | Event is visible only to invited people

                  span(ng-if="mode === 'Normal' && event.permissions.visibility === 'public'")
                    | Event is visible to everyone
                  span(ng-if="mode === 'Normal' && event.permissions.visibility === 'followers'")
                    | Event is visible only to your followers
                  span(ng-if="mode === 'Normal' && event.permissions.visibility === 'invitations'")
                    | Event is visible only to invited people
              .row
                .event-attendance.col-lg-12.col-lg-offset-0.col-xs-11.col-xs-offset-1
                  a.editable(ng-if="mode === 'Create'") Everyone can attend this event
                  a.editable(ng-if="mode === 'Edit' && (event.permissions.attendance === 'public' || !event.permissions.attendance)")
                    | Everyone can attend this event
                  a.editable(ng-if="mode === 'Edit' && event.permissions.attendance === 'followers'")
                    | Only your followers can attend this event
                  a.editable(ng-if="mode === 'Edit' && event.permissions.attendance === 'invitations'")
                    | Only invited people can attend this event

                  span(ng-if="mode === 'Normal' && event.permissions.attendance === 'public'")
                    | Everyone can attend this event
                  span(ng-if="mode === 'Normal' && event.permissions.attendance === 'followers'")
                    | Only your followers can attend this event
                  span(ng-if="mode === 'Normal' && event.permissions.attendance === 'invitations'")
                    | Only invited people can attend this event
            li
              .row(ng-if="mode === 'Normal' && event.canAttend")
                h3.event-user-attendance.col-lg-8.col-xs-12
                  button.btn.btn-info.col-lg-12.col-xs-12(
                    ng-if="event.attendees.indexOf(global.me.id) === -1"
                    ng-click="attendTheEvent()") I will go
                  button.btn.btn-default.col-lg-12.col-xs-12(
                    ng-if="event.attendees.indexOf(global.me.id) !== -1"
                    ng-click="quitTheEvent()") I will not go
            li
              .row(ng-if="mode === 'Normal'")
                .event-people.col-lg-8
                  .col-lg-3.col-xs-4(ng-repeat="us in event.participants", user-small, user="us")
              .row(ng-if="mode === 'Normal'")
                .col-lg-8.text-right.hidden-xs
                  a(ng-click="showAllParticipants()"
                    data-toggle="modal"
                    data-target="#participantsModal") Show everybody on this event
                .col-xs-12.text-center.visible-xs
                  a(ng-click="showAllParticipants()"
                    data-toggle="modal"
                    data-target="#participantsModal") Show everybody on this event
            li
              .row(ng-if="mode === 'Normal' && global.me.id === event.organizator.id")
                .col-lg-8.col-xs-12.text-center
                  button.btn.btn-info.col-lg-12.col-xs-10.col-xs-offset-1(data-toggle="modal", data-target="#invitationModal") Invite!

        .event-description.col-lg-7.hidden-xs
          textarea.eventDescriptionField.col-lg-10(ng-show="mode !== 'Normal'")
          p(ng-if="mode === 'Normal'", ng-bind-html="event.desc")

        .col-xs-10.col-xs-offset-1.visible-xs(role="group")
          button.btn.btn-info(ng-if="mode === 'Create'", type="button", ng-click="createEvent()") Create!
          button.btn.btn-info(ng-if="mode === 'Edit'", type="button", ng-click="modifyEvent()") Save
          button.btn.btn-default(ng-if="mode === 'Create'", type="button", ng-click="goBack()") Cancel
          button.btn.btn-default(ng-if="mode === 'Edit'", type="button", ng-click="cancel()") Cancel

      #eventButtons.hidden-xs(role="group", ng-if="mode !== 'Normal'")
        button.btn.btn-info.btn-lg(ng-if="mode === 'Create'", type="button", ng-click="createEvent()") Create!
        button.btn.btn-info.btn-lg(ng-if="mode === 'Edit'", type="button", ng-click="modifyEvent()") Save
        span(style="margin-left: 10px")
        button.btn.btn-default.btn-lg(ng-if="mode === 'Create'", type="button", ng-click="goBack()") Cancel
        button.btn.btn-default.btn-lg(ng-if="mode === 'Edit'", type="button", ng-click="cancel()") Cancel

      #editButton.hidden-xs(ng-if="mode === 'Normal' && global.me.id === event.organizator.id"
                  ng-click="setEditable(true, 'Edit')")
        button.btn.btn-default
          i.glyphicon.glyphicon-pencil

      #invitationModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Invite people to "{{event.name}}"!
            .modal-body
              .row
                .col-lg-12
                  h4 We will send invitation emails to these users
              .row
                .col-lg-12
                  form.form(role="form")
                    .form-group#emailsToInvite
                      textarea.form-control.col-lg-12(placeholder="Emails separated with a comma")
                      label
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-success(type='button', ng-click="invite()") Invite

      #participantsModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true", ng-init="participantsTab = 'attendees'")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title "{{event.name}}" participants!
            .modal-body
              table.table
                tr
                  td.clickable(ng-click="participantsTab = 'attendees'") Attendees
                  td.clickable(ng-click="participantsTab = 'invited'") Invited
              div(ng-show="participantsTab === 'attendees'")
                .col-lg-3.col-xs-4(ng-repeat="us in attendees", user-small, user="us")
              div(ng-show="participantsTab === 'invited'")
                .col-lg-3.col-xs-4(ng-repeat="us in invited", user-small, user="us")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel

      #dateAndTimePicker.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title Choose date and time for your event
            .model-body
              .clearfix(style="margin-top: 10px")
              .row
                .col-lg-4.col-lg-offset-4
                  .input-group.clockpicker(data-placement="bottom", data-align="top", data-autoclose="true")
                    input.form-control(type="text", placeholder="Time")
                    span.input-group-addon
                        span.glyphicon.glyphicon-time
              .row
                .col-lg-10.col-lg-offset-1(ng-controller="CalendarController")
                  .row(calendar)
              .row
                .col-lg-12(ng-controller="DaylyController")
                  .row
                    .col-lg-12
                      .col-lg-10.col-lg-offset-1.text-center(ng-if="events.length === 0")
                      .col-lg-11.col-lg-offset-1.col-xs-12(ng-if="events.length !== 0")
                        .row(ng-repeat="event in events", event-line, event="event")
            .modal-footer
              .pull-left
                label.big-text.label.label-success(ng-show="event.date") {{event.date.format('DD MMMM YYYY')}} {{event.date.format('HH:mm')}}
              button.btn.btn-success(ng-if="event.date", type='button', data-dismiss='modal') Done
              button.btn.btn-success(ng-if="!event.date", type='button', data-dismiss='modal', disabled=true) Done


